.notFound{
  height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-right{
  justify-content:flex-end; ;
}
.btn-check:focus+.btn-danger, .btn-danger:focus {
  box-shadow: none !important;
}
.btn-check:focus+.btn-success, .btn-success:focus {
  box-shadow: none !important;
}
/* all Employee */
th,td{
  /* margin: auto; */
  text-align: center !important;
}
